SNOWFLAKE_ACCOUNT=orgname-accountname
SNOWFLAKE_USER=CURRENT_USER_result
SNOWFLAKE_PASSWORD=snowflake_profile_password_not_google
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DASHBOARD_WAREHOUSE=DASHBOARD_WH
SNOWFLAKE_DATABASE=ELT_DEV
SNOWFLAKE_SCHEMA=BRONZE
SNOWFLAKE_ROLE=ACCOUNTADMIN
